h2 {
    text-align: center;
}

#Services {
    background-color: #f8f8f8;

}

.servicescards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 30px ;
    margin-left: 10%;
    margin-right: 10%;
}