h2 {
    text-align: center;
    margin-top: 50PX;
}

#Services {
    background-color: #fff;
    padding: 10px;

}

.servicescards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 30px ;
    margin-left: 10%;
    margin-right: 10%;
}