.sideicon {
    padding: 20px;
    text-align: right;
    margin: 3%;
    color: rgb(41, 119, 209);
}

.icontext {

    text-align: justify;
    border-left: 2px solid grey;
    color: rgb(81, 81, 81);
    padding-left: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: 300;
}

.icontextcontainer {
    display: grid;
    grid-template-columns: 20% 60%;
    grid-template-rows: auto;
    padding: 20px;




}

.icontextgroup {
    margin-bottom: 50px;
}