.whyjoincontainer {
   display: flex;
   justify-content: center;
   margin-left: 10%;
   margin-right: 10%;


}

.ImgTxtContainer {
   background-color: #f8f8f8;

}

.whyjoinText {
   font-size: 18px;
   text-align: justify;
   color: #67788a;
   padding: 10px 50px;
}

.whyjoinimg {
   height: 160px;
   width: 280px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-bottom: 30px;
   margin-top: 20px;
}

.nav-pills .nav-link {
   margin-bottom: 22px;
   color: #18377D;
   cursor: pointer;
   margin-left: 20px;
   margin-right: 40px;
   font-size: 20px;
   font-weight: 600;

}

.nav-pills .nav-link:not(.nav-link.active):hover {
   background-color:#03a8e980;
   
}

.nav-pills {
   color: #5977a5;
   background-color: #f8f8f8;
   height: 100%
}



.menuIconactive {
   background-color: white;
}


h1:not(.navTitle) {
   margin-left: 20px;
   font-size: 30px;
   margin-bottom: 50px;
   margin-top: 200px;

}

.menuIcon {

   color: white;
   background-color: #03A7E9;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   font-size: 22px;
   display: inline-block;
   vertical-align: middle;
   margin-right: 20px;
}

@media screen and (MAX-width:1000px){
 .whyjoinText{
    padding: 9px;
 }
 .nav-pills .nav-link{
    font-size: 15px;
 }
 .row{
    --bs-gutter-x:0;
 }
h1{
   margin: 7px;
   font-size: 30px;
}

h2{
   font-size: 30px;
}
 
}
 

.nav-pills .nav-link.active>.menuIcon {
   background: #18377D;
   color: rgb(255, 255, 255);
}

.nav-pills .nav-link.active{
   background-color: #03A7E9;
}

.nav-pills .nav-link.active::after{
   content: "➣";
   float: right;
font-size: 20px;
margin-top: 7px;
font-weight: 700;}