.sales{
    margin-top: 50px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.sales img{
    width: 370px; 
    height: 280px; 
    margin-left: -10%;
   
}

.sales h3{
   color:#5977a5 ;
}
.sales p{
    width: 320px;
}

@media screen and (min-width:1300px) {
    .sales p{
        width: 450px;
        margin-left: -20px;
    }
    
    .sales h3{
        width: 400px;
        margin-left: -20px;
    }
    
    .sales img{
        width: 450px;
        margin-left: 130px;
    }
    

}




