.Aboutheader {
    background-image: url(../../images/Aboutpage/overlay.png);
    background-position: center;
    background-size: cover;
    height: 485px;
    position: relative;
    text-align: center;
}

.Aboutheader h5 {
    color: white;
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-lg-6 {
    padding-left: 10%;
}

.display-4 {
    font-size: 73px;
}

.blog-head {
    margin: 150px 0px;

}

.blog-head h6 {
    color: #f05907;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
}

.blog-head h6:after,
.blog-head h6:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #f05907;
    top: 50%;
}

.blog-head h6:after {
    right: 120%;
}

.blog-head h6:before {
    left: 120%;
}

.Aboutpagetext p {
    margin: auto;
    align-items: center;
    width: 50%;
    border-left: 4px solid yellow;
    padding-left: 10px;
}

/* chiffres clés section */

.containerbottom ul {

    text-align: center;
    margin: auto;
    align-items: center;
    margin-top: 50px;

}

.containerbottom li {
    display: inline-block;
    margin: auto;
    width: 260px;
    text-align: center;
    margin-left: 55px;
}

.icontext {
    font-weight: 700;
    margin-top: 20px;
}

.difference {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.timeline {

    background-image: linear-gradient(to right, rgba(30, 75, 115, 0.7), rgba(30, 75, 115, .7)), url("https://wallpaperaccess.com/full/656853.png");
    background-attachment: fixed;
    background-color: rgba(0, 255, 255, 0.581);
    background-position: center, center;
    /* Center the image */
    background-repeat: no-repeat, norepeat;
    /* Do not repeat the image */
    background-size: cover, cover;
    margin-bottom: 10%;
}

div.col-md-6:hover {

    transform: scale(1.05);
}

.wearedifferent {
    padding: 100px;
}

.containerbottom>ul>li {
    animation: knanimation 3s;
}

@keyframes knanimation {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translate(0);
    }
}