.komparcontainer {
    padding: 5%;
    background-image: linear-gradient(180deg, rgb(234, 229, 229), rgb(243, 232, 212));
    margin: 5%;
    border-radius: 10px;
}

.KomparSlider {
    margin-bottom: 5%;
}

.komparinfocontainer {
    background-color: rgb(243, 232, 212);
    padding: 5%;
    border-radius: 50px;
}

.kompardetails {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.kdc {
    margin-top: 10%;
}

h2 {
    font-family: serif;
    font-weight: bolder;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}