.forms {
    padding: 3px 12px;
   background-color: #f8f8f8;
    background-size: cover;
    background-position: center;

}


@media screen and (min-width:1300px) {

    .forms {

        padding: 3px 390px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

    }

    .form-control {
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
        background-color: rgba(255, 255, 255, 0.9);

    }

}

.BtnContainer {
    text-align: center;
}

.ContactBtn {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(180, 180, 180);
    font-weight: bold;
    background: none;
    border-radius: 30px;
    Margin: 30px;
    padding: 10px 25px;
}

.ContactBtn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.form-label {
    margin-left: 5px;
    font-weight: bold;
    font-family: sans-serif;

}