@media screen and (max-width:1000px) {
    .D-navbar {
        display: none;
    }
}

@media screen and (min-width:500px) {
    .P-navbar {
        display: none;
    }
}


@media screen and (max-width:1000px) {
    .P-navbar {
        display: block;
    }
}

.me-auto {
    position: absolute;
    right: 10%;
}


.icons {
    padding: 0px 10px 0px 10px;
}

.fixed-top {
    background-color: gainsboro;
    box-shadow: 10px 5px 5px rgba(189, 189, 189, 0.3);
}
.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    letter-spacing: 1.3px;
}

