.card-solution{
    margin-top: 50px;
    text-align: center;
    padding-top: 30PX;
    height: 230px;
    font-size: 9px;
    display: flex;
    justify-content: space-between;
    background-color:  #f0f2f5;
    color: #5977a5;
    cursor: pointer;
}
.cardtext{
font-size: 14px;
text-align: start;
color: black;
}

@media screen and (max-width:1300px) {
    .card{
        padding: 10px;
    }
}


