.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    margin: 5%;
    border-radius: 10px;

}

.pheaderslidercontainer {
    margin-left: 5%;
    margin-right: 5%;
}

.formcontainer {
    padding: 10%;
}

.form input:not(.fcb) {
    background: none;
    align-self: center;
    width: 70%;
    height: 50px;
    margin: 10px;
}

.form input:not(.fcb) :focus {
    background: white;
    border-radius: 30px;
}

.form select {
    width: 70%;
    height: 50px;
    margin: 10px;
}

.termcheck {
    margin-top: 5%;
    display: flex;
    align-items: left;
    flex-direction: row;
    align-items: center;
}

.fcb {
    border-radius: 50px;
    align-self: left;
    margin-right: 40px;
    height: 40px;
    width: 40px;
}

.fbutton {
    margin-top: 5%;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgba(240, 248, 255, 0);
}

.fcl {
    font-weight: normal;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}