.ScrollToTopButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background:#0084FF;
    color:white;
}

.ScrollDiv :hover {
    cursor: pointer;
   width: 48px;

}