.footer {
    padding: 30px 100px 80px 100px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    text-decoration: none;
    background-color: #ffffff;
background-image: linear-gradient(#013253 80%, #ececeb00);
    position: relative;
    left: 0;
    bottom: 0;
}



.footer ul{
    color: gray;
    list-style-type: none;
    line-height: 30px;
}



li:hover{
    color: white;
    cursor: pointer;
}

.footer h6{
margin-bottom:  20px;
font-size: 20px;
color: white;
}
.footer p{
    font-size: 11px;
    margin: 0.4rem 0 0.5rem 0;
}

.smi{
    margin: 4px 4px 0;
}



.foootercr {
display: block;
text-align: center;
background-color: #013253 ;
margin-bottom: -30px;
}



.foootercr img{
    width: 50px;
}
.foootercr p{
    font-size: 11px;
    color: gray;
}

@media screen and (max-width:1000px) {
    .footer{
        display: block;
        padding: 0px;
    }

} 
.nlb{
    background-color: rgba(240, 248, 255, 0);
    border-radius: 5px;
    margin-left: 10px;
}
.nlb:hover{
    background-color: rgb(255, 255, 255);
}

.nli {
    background-color: #f0f2f500;
}
.nli:focus{
    background : white;
}
