.footer {
    padding: 20px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    text-decoration: none;
    background-color: #f0f2f5;
    position: relative;
    left: 0;
    bottom: 0;
}

.footer ul{
    list-style-type: none;
    line-height: 30px;
}

li:hover{
    color: gray;
    cursor: pointer;
}

.footer span{
font-size: 20px;
font-weight: 700;
}
.footer p{
    font-size: 11px;
    margin: 0.4rem 0 0.5rem 0;
}

.smi{
    margin: 4px 4px 0;
}



.foootercr {
display: block;
text-align: center;
background-color: #f0f2f5;
margin-bottom: -30px;
}



.foootercr img{
    width: 70px;
    margin-top: 20px;
}
.foootercr p{
    font-size: 13px;
    color: gray;
}

@media screen and (max-width:1000px) {
    .footer{
        display: block;
        padding: 0px;
    }

} 
.nlb{
    background-color: rgba(240, 248, 255, 0);
    border-radius: 5px;
    margin-left: 10px;
}
.nlb:hover{
    background-color: rgb(255, 255, 255);
}

.nli {
    background-color: #f0f2f500;
}
.nli:focus{
    background : white;
}
