.News img{
  width: 350px;
 }
 .test{
width: 350px;
display: flex;
 justify-content: center; }
@media screen and (min-width:1000px) {
.item-News{
 display: inline-block;
  margin: 20px;
}

.News{
 display: flex;
 justify-content: center;
 font-size: 13px;
}

.News img{
 width:350px;
 height: 200px;
}

}