Sofiane Feki .News img {
  width: 350px;
}

.test {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 10px;
  border: none;
}


.News {
  display: flex;
  justify-content: center;
  font-size: 13px;
  flex-flow: row wrap;
  align-items: stretch;

  margin-left: 10%;
  margin-right: 10%;


}


.News img {
  padding: 5%;
  width: 100%;
  height: 200px;
}



.newsbutton {
  background: transparent;
  color: #18377D;
  font-weight: 600;
  border: none;
  margin-left: -10px;


}

.newsbutton:hover {
  color: #03A7E9;
  background: #fff;

}

.newspages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/news/newspages.png);
  background-position: center;
  background-size: cover;
  height: 385px;
  position: relative;
  text-align: center;
}

.newspages h5 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.newspages h5 {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.articledetails li {
  font-size: 15px;
  display: inline-block;
  color: #fff;
  margin-top: 8%;
  padding: 13px;
}