.News img {
  width: 350px;
}

.test {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 10px;
  border: none;
}


.News {
  display: flex;
  justify-content: center;
  font-size: 13px;
  flex-flow: row wrap;
  align-items: stretch;

  margin-left: 10%;
  margin-right: 10%;


}


.News img {
  padding: 5%;
  width: 100%;
  height: 200px;
}



.newsbutton {
  background: transparent;
  color: #18377D;
  font-weight: 600;
  border: none;
 margin-left: -10px;
 

}

.newsbutton:hover {
  color: #03A7E9;
  background: #fff;

}